html {

}
body {

  color: #000;
  z-index: 3000;
}

.top-primary {
  height: 80px;
  background: #8E2DE2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-bottom:
}
.hero {

}

.menu-list {
  display: inline-flex;
}

.menu-list a {
  color: white;
}

.navbar-brand {

}
.navbar-brand > img#brand {
  width: 60px;
  height: 60px;
  margin-top: 10px;
}

.box-members {
  background: gray;
}

.members {
  display: inline-flex;
}

.members img {
  width: 80px;
  border-radius: 100%;
}

.main-content {
  background: gray;
}
